* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-haze:#A14A76;
  --color-pink-cinza: #CDB2AB;
  --color-pink-400: #F786AA;
  --color-pink-200: #FFA8A9;
  --color-pink-100: #FBC2B5;

  /* dark  */

  --color-dark-indepe: #3B3B58;
  --color-dark-chinese: #7A5980;
  --color-dark-purple: #7A5980;
  --color-dark-mauve: #BC7C9C;
}

/*===COR NO SCROLL ====*/
::-webkit-scrollbar {
  background:var(--color-pink-400); 
  width: .7rem; 
}

::-webkit-scrollbar-thumb {
 background: var(--color-haze); 
 border-radius: .7rem;
}



html {
  scroll-behavior: smooth; /* Rolagem de leve na página */
}

body {
  /* background-image: url(../assets/patinhas.svg); */ 
  background-image: url(../assets/pata.svg);
  background-color: rgba(222, 222, 222, 0.811);
  background-size: 200px;
  font-size: 1.6rem;
  font-family: 'DynaPuff', cursive;
  color: var(--color-pink-cinza);
}

.dark {
  background-color: var(--color-dark-chinese);
  color: var(--color-dark-mauve);
}

a {
  text-decoration: none;
}

/*HEADER*/

.header {
  background: var(--color-pink-400);
  height: 12vh;
  width: 100%;
  padding: 0.275rem ;
  margin-bottom: 1rem ;

  display: flex;
  justify-content: space-around;
  border-bottom: 4px solid var(--color-haze);
}

.headerDark {
  background: var(--color-dark-indepe);
  border-bottom: 4px solid var(--color-dark-mauve) ;
}

.header .logo {
  /* width: 100%; */
  border-radius: 50%;
  border: 4px solid var(--color-haze);
  
  
  position: relative;
  top: 2rem;
}

.headerDark .logo {
  border: 4px solid var(--color-dark-mauve);
}

.header nav ul {
  display: flex;
  margin: 2rem auto ;
}

.header nav ul li {
  list-style: none;
  margin-left: 1rem ;
}

.header nav ul li > a {
  color: var(--color-haze);

  transition: color 0.1s;
}

.headerDark nav ul li > a {
  color: var(--color-dark-mauve);
}

.header nav ul li > a:hover, a:hover {
  color: var(--color-pink-200);
}

.headerDark nav ul li > a:hover, a:hover {
  color: var(--color-dark-chinese);
}

.header nav ul li > a:active {
  color: var(--color-pink-200);
  font-weight: 700;
}

.headerDark nav ul li > a:active {
  color: var(--color-dark-purple);
}

/* button  */

/* From uiverse.io by @Galahhad */
.checkbox {
  display: none;
}

.slider {
  width: 60px;
  height: 30px;
  background-color: var(--color-haze);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 4px solid transparent;
  transition: .3s;
  box-shadow: 0 0 10px 0 var(--color-dark-indepe) inset;
  cursor: pointer;
}

.slider::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark-mauve);
  transform: translateX(-30px);
  border-radius: 20px;
  transition: .3s;
  box-shadow: 0 0 10px 3px var(--color-dark-indepe);
}

.checkbox:checked ~ .slider::before {
  transform: translateX(30px);
  box-shadow: 0 0 10px 3px var(--color-dark-purple);
}

.checkbox:checked ~ .slider {
  background-color: var(--color-haze);
}

.checkbox:active ~ .slider::before {
  transform: translate(0);
}


/*MAIN*/

.main {
  max-width: 1250px;
  width: 100%;

  margin: 0 auto;
  padding: 2rem 1rem;
}

section {
  background: var(--color-haze);
  background-image: url(../assets/pata.svg);
  margin-bottom: 2rem;
  padding: 4rem;
  border-radius: 1.5rem;
}

.dark  .section {
  background-color: var(--color-dark-indepe);
}

.home {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.home p {
  text-align:justify;
}

.text-home img {
  margin: 0 auto;
  border: 2px solid var(--color-pink-200);
  border-radius: 1.5rem;
  transform: skewY(-5deg);
}

section h2, h3, h4 {  
  color: var(--color-pink-100);
  text-align: center;
  margin-bottom: 2rem;
}

span {
  color: var(--color-pink-400);
}

p {
  text-align: center;
  margin-bottom: 2rem;
}

#section-video{
  text-align: center;
}

.galeria {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
}

.galeria img {
  width: 100%;
  border: 2px solid var(--color-pink-200);
  border-radius: 1.5rem;

}



/*footer*/

.footer {
  background-color: var(--color-pink-200);
  color: var(--color-haze);
  height: 9rem;
  text-align: center;
  padding: 3rem;

  border-top: 2px solid var(--color-haze); 
}

.dark .footer {
  background-color: var(--color-dark-indepe);
  color: var(--color-dark-chinese);
}

@media(max-width: 960px) {
  .home {
    grid-template-columns: 1fr;
  }

  .home img {
    margin-bottom: 2.6rem;
  }
  

}